<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <script src="https://unpkg.com/htmx.org@2.0.0"
        integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
        crossorigin="anonymous"></script>

    <title>Portion Share</title>
</head>

<body>
    <div class="shadow-md">
        <div class="container mx-auto px-2 py-3 flex items-center justify-between">
            <div></div>
            <div class="flex items-center gap-5">
                <a href="#" class="px-3 py-2">About</a>
                <a href="#" class="px-3 py-2">Services</a>
                <a href="#" class="px-3 py-2">Contact</a>
                <a href="#" class="px-3 py-2">Plans</a>
            </div>
        </div>
    </div>

    <section class="mt-5 container mx-auto px-2 flex flex-col items-center justify-between">
        <label for="uploadFile1"
            class="bg-white text-gray-500 font-semibold text-base rounded max-w-md px-4 h-52 flex flex-col items-center justify-center cursor-pointer border-2 border-gray-300 border-dashed mx-auto font-[sans-serif]">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-11 mb-2 fill-gray-500" viewBox="0 0 32 32">
                <path
                    d="M23.75 11.044a7.99 7.99 0 0 0-15.5-.009A8 8 0 0 0 9 27h3a1 1 0 0 0 0-2H9a6 6 0 0 1-.035-12 1.038 1.038 0 0 0 1.1-.854 5.991 5.991 0 0 1 11.862 0A1.08 1.08 0 0 0 23 13a6 6 0 0 1 0 12h-3a1 1 0 0 0 0 2h3a8 8 0 0 0 .75-15.956z"
                    data-original="#000000" />
                <path
                    d="M20.293 19.707a1 1 0 0 0 1.414-1.414l-5-5a1 1 0 0 0-1.414 0l-5 5a1 1 0 0 0 1.414 1.414L15 16.414V29a1 1 0 0 0 2 0V16.414z"
                    data-original="#000000" />
            </svg>
            Upload file

            <input type="file" id='uploadFile1' class="hidden" />
            <p class="text-xs font-medium text-gray-400 mt-2">PNG, JPG SVG, WEBP, and GIF are Allowed.</p>
        </label>


        <div class="w-full flex items-center justify-center" id="btnContainer">
            <button 
                type="button"
                hx-post="/upload"
                hx-target="#btnContainer"
                class="mx-auto mt-8 mt-3 px-5 py-2.5 rounded-lg text-white text-sm tracking-wider font-medium border border-current outline-none bg-green-500 hover:bg-green-800 active:bg-blue-700">
                Start Uploading your file
            </button>
        </div>
    </section>
</body>

</html>